@import url("style/header.css");
body {
    background-color: rgb(183, 232, 254);
}
.container img{
    max-width:100px;
    max-height: 80px;
    width:40%;
    height:40%;
}

h1 {
    color:blue;
}

h2 {
background-color:#eb57b0;
    color:rgb(252, 233, 233);
    
}